.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --link-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #f5f4fa;
  --primary-btn-color: #2196f3;
  --second-btn-color: #188ce8;
  --text-btn-color: #212121;
  --second-text-btn-color: #ffffff;
  --primary-color: #ffffff;
  --footer-color: #2f303a;
}

.social, .social__link, .modal__close, .modal__checkbox, .check__item, .about__text, .client, .client__link {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  min-width: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.menu__logo-dark {
  color: #000;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo-light {
  color: var(--primary-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-padding-not {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-padding-not {
    display: none;
  }
}

.section-background {
  background: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.section__title-mb {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title-mb {
    margin-bottom: 50px;
  }
}

.social__item {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.social__link {
  width: 100%;
  height: 100%;
  outline: none;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  background-color: var(--primary-btn-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item + .social__item {
  margin-left: 10px;
}

.social-pad-mar-not {
  padding: 0;
  margin: 0;
}

.social__link-dark {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link-dark:hover, .social__link-dark:focus {
  background-color: var(--accent-color);
}

.social__icon-dark {
  fill: var(--second-text-btn-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: scaleX(1.5) rotate(180deg);
  transition: transform 1000ms;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus {
  fill: var(--accent-color);
}

.modal__text {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form__field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  resize: none;
  margin-bottom: 4px;
  margin-bottom: 10px;
}

.form__wrap {
  position: relative;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__input:focus {
  border: 1px solid #2196f3;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 100%;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  display: block;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus, .form__textarea:focus {
  border: 1px solid #2196f3;
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .form__textarea {
    height: 120px;
  }
}

.modal__checkbox {
  align-items: center;
  margin-top: 20px;
}

.check__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: #757575;
  margin-bottom: 31px;
}

@media screen and (min-width: 1200px) {
  .check__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: none;
  margin-right: 8px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  fill: var(--second-text-btn-color);
}

.modal__check:checked + .check__text .check__item {
  background-color: var(--primary-btn-color);
  border: none;
}

.policy__link {
  color: var(--accent-color);
}

.form__btn {
  height: 50px;
  display: block;
  margin: 0 auto;
  color: var(--second-text-btn-color);
  background: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:focus, .form__btn:hover {
  background: var(--second-btn-color);
}

@media screen and (min-width: 480px) {
  .form__btn {
    width: 200px;
  }
}

.header {
  color: var(--primary-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .menu__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation__item {
  position: relative;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link-active {
  color: var(--primary-btn-color);
}

.navigation__link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  bottom: 0px;
  border-radius: 2px;
}

.header__contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    justify-content: center;
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: center;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(last chaild) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(last chaild) {
    margin-right: 30px;
  }
}

.overlay {
  height: 400px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-des.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/main-img-des-2x.jpg);
  }
}

.overlay__container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .overlay__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.overlay__btn {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__btn:hover, .overlay__btn:focus {
  background-color: var(--second-btn-color);
}

.menu__btn {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__btn:hover, .menu__btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}

.menu-mob {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 3;
}

.menu-mob .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn-close {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__btn-close:hover, .menu__btn-close:focus {
  fill: var(--accent-color);
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__link:hover, .menu-mob__link:focus {
  color: var(--accent-color);
}

.menu-mob__contacts {
  margin-bottom: 64px;
}

.menu-mob__contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-mob__contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
}

.menu-mob__social__list {
  display: flex;
  flex-wrap: wrap;
}

.menu-mob__social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.menu-mob__social__item:not(:last-child) {
  margin-right: 20px;
}

.menu-mob__social__item:not(:last-child):after {
  content: "";
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .features__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__box {
  position: relative;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .features__box {
    width: 270px;
    display: flex;
    justify-content: center;
  }
}

.section-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about {
  display: flex;
}

.about__item {
  position: relative;
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-text-btn-color);
  align-items: center;
  min-height: 70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
  }
}

.team__item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__box {
  padding: 30px 32px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--primary-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .client {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    margin-left: -30px;
  }
}

.client__item {
  cursor: pointer;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover, .client__item:focus {
  border-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .client__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    margin-left: 30px;
    display: block;
    width: 170px;
    height: 92px;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  align-items: center;
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item:hover .client__icon,
.client__item:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__box:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box:nth-child(3) {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box:first-child {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box:nth-child(2) {
    margin-right: 93px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .address__map {
    width: 231px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address__link {
    width: 231px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    display: flex;
  }
}

.mailing__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 0 15px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--second-text-btn-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing__input:focus {
  border-color: var(--accent-color);
}

.mailing__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .mailing__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__input {
    margin-right: 12px;
    width: 358px;
  }
}

.mailing__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
}

.button__icon {
  fill: var(--primary-color);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    height: 440px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    height: 404px;
  }
  .portfolio__item:not(:last-child) {
    margin-right: 30px;
  }
}

.portfolio__link {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__wrap-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: white;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__wrap-text {
  transform: translateY(0);
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__box {
    flex-grow: 1;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}

.section__filters {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section__filters {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__filters {
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-bottom: 15px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .filters__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filters__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: Roboto;
  text-align: center;
  color: var(--text-btn-color);
  background-color: var(--btn-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: 2px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:focus, .filters__btn:hover {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */