:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --link-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #f5f4fa;
  --primary-btn-color: #2196f3;
  --second-btn-color: #188ce8;
  --text-btn-color: #212121;
  --second-text-btn-color: #ffffff;
  --primary-color: #ffffff;
  --footer-color: #2f303a;
}
